<h2>Add new logger</h2>
<form role="form" class="form-horizontal">
    <div class="form-group">
        <div class="form-group">
            <div class="col-md-7">
                <input type="text" class="form-control" name="project" placeholder="project" ng-model="logger.project" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7">
                <input type="text" class="form-control" name="description" placeholder="description" ng-model="logger.description" required />
            </div>
        </div>
    </div><!--form-group-->
    <div class="form-group">
        <div class="col-md-7">
            <button ng-click="add()" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
