<h2>Loggers</h2>
<table class="table table-striped table-hover">
    <thead>
        <th>ID</th>
        <th>Description</th>
        <th>Last active</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>front door</td>
            <td>04/04/04 04:04</td>
        </tr>
        <tr>
            <td>2</td>
            <td>rear door</td>
            <td>04/04/04 04:04</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ben's door</td>
            <td>04/04/04 04:04</td>
        </tr>
    </tbody>
</table>
